# gitignore 

*__pycache__*
x86_64-linux*
i686-linux*
x86_64-darwin*
aarch64-darwin*
aarch64-linux*
armv6l-linux*
armv7l-linux*
.othermachines*
*.Pike8.0
*.CoffeScript
*.Vim
.idea*
.ipynb_endpoints*
.ipynb_entrypoints*
.ipynb_checkpoints*
*.pdf
*.npz
_memoraged.cache/*
_data/*
build/*
*_local_*


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode
.direnv

# Dependency directories (remove the comment below to include it)
# vendor/

/pkgs/sops-install-secrets/sops-install-secrets
/pkgs/ssh-to-pgp/ssh-to-pgp
