name: "Test"
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron:  '51 2 * * *'
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - name: Add keys group (needed for go tests)
      run: sudo groupadd keys
    - name: Run unit tests
      run: nix develop .#unit-tests --command "true"
